body {
    background-color: cadetblue;
}

/* Estiliza imagem do logotipo */
.navbar-brand img {
    width: 2.5rem;
    height: auto;
}

/* imagem do usuário (des)logado */
.user-in-out img {
    width: 2rem;
}

/* Links do footer */
footer a {
    color: rgb(180, 221, 255);
    text-decoration: none;
}

footer a:hover {
    color: orangered;
}

/* Em telas MD e acima */
@media screen and (min-width: 768px) {

    /* Define a largura do aside */
    main>aside {
        min-width: 220px;
        max-width: 220px;
    }
}

/* Opcional: melhora o desempenho da Navbar flutuante quando ela se expande */
@media (max-width: 767.98px) {

    .navbar {
        position: sticky;
        top: 0;
        z-index: 1020;
    }

    .navbar-collapse {
        position: absolute;
        top: 100%;
        left: 0;
        right: 0;
        background-color: var(--bs-dark);
        padding: 0.5rem 1rem 1rem;
    }
}